@import "tailwindcss";

@theme {
  --color-primary: #0154AA;
  --color-lightGray: #F6F9FF;
  --shadow-soft: 0 8px 30px rgba(0, 0, 0, 0.06);
}

@layer base {

  body {
    @apply bg-[#F3F3F3] text-slate-900;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 32px;
  }
}